  <!---Header Start-->
        <header id="cp_header">
            <!---Navigation Row Start-->
            <section class="cp_navigation-row">
                <div class="container">
                    <!--Nav Holder Start-->
                    <div class="cp-nav-holder">              
                        <!--Logo Start-->
                        <strong class="cp-logo">
                            <a href="#">
                            <em>Facial &amp;Threading</em>
                            Prretty z <span>Threading</span>
                            </a>
                        </strong>
                        <!--Logo End-->
                        <nav class="navbar navbar-inverse">
                          <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                          </div>
                          <div id="navbar" class="collapse navbar-collapse">
                             <ul id="nav" class="navbar-nav">
                                <li class="dropdown">

                                 <a [routerLink]="['/home']" routerLinkActive="active" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Home <span class="caret"></span></a>
                                    
                                </li>
                                <li><a [routerLink]="['/pricing']" (click)="scrollTo('pricing')" >Pricing</a></li>
                                
                                
                                       
                                <li><a [routerLink]="['/services']">Services</a></li>
                                 <li><a [routerLink]="['/contact']">Contact</a></li>
                                    
                          
                              
                            
                            </ul>
                           </div>
                       </nav>
                    </div>
                    <!--Nav Holder End-->
                </div>
                <!--Right Holder End
                <div class="cp-right-holder">
                    <ul>
                        <li class="cp_search-bar"> 
                            <i class="fa fa-search"></i>
                            <div class="cp-inner-search-bar">
                                <form method="get">
                                    <input type="text" placeholder="Enter Your Email">
                                    <input type="submit" value="Search">
                                </form>
                            </div>
                        </li>
                        <li class="cp-language-bar">
                            <div class="dropdown">
                              <button aria-expanded="true" data-toggle="dropdown" id="dropdownMenu2" type="button"> English <span class="caret"></span> </button>
                              <ul role="menu" class="dropdown-menu">
                                <li role="presentation"><a href="#" tabindex="-1" role="menuitem">French</a></li>
                                <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Spanish</a></li>
                                <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Chinese</a></li>
                              </ul>
                            </div>
                        </li>
                        <li class="cp-online-booking"><a href="#">Online booking</a></li>
                        <li class="cp_cart-bar">
                            <i class="fa fa-shopping-cart"></i>
                            <div class="cp-cart-inner-bar">
                                <ul>
                                    <li><a href="#">Product 1</a></li>
                                    <li><a href="#">Product 2</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                -->
                <!--Right Holder End-->
            </section>
            <!---Navigation Row End-->
        </header>
        <!---Header End-->


       