 <!---Footer Start-->
        <footer id="cp_footer">
            <!---Footer Section1 Start-->
            <section class="cp_footer-section1">
                <div class="container">
                    <h2>Book Your Next Appointment Today!</h2>
                    <a href="#" class="cp-btn-style1 buy-now">Book Now</a>
                </div>
            </section>
            <!---Footer Section1 End-->
            <!---Footer Section2 Start-->
            <section class="cp_footer-section2 pd-tb80">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="ft-box-holder">
                                <h3>About Us</h3>
                                <div class="about-box">
                                    <img src="images/ft-about-img.jpg" alt="">
                                    <p>We are professional grade in your threading/waxing services</p>
                                    <p>We give impeccable attention to detail on what we do.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="ft-box-holder">
                                <h3>Contact us on</h3>
                                <ul class="ft-contact-us-list">
                                    <li><span>Phone:</span> 1-800-800-8888</li>
                                    <li><span>Email:</span> <a href="#">admin@prettyzthreading.com</a></li>
                                    
                                    <li><img src="../../assets/images/card-logo.png" alt=""></li>
                                </ul>                             
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="ft-box-holder">
                                <h3>Opening Time</h3>  
                                <p>Monday-Friday: ______ 10 AM to 8 PM</p> 
                                <p>Saturday: ___________ 10 AM to 9 PM</p>  
                                <p>Sunday: _____________ 11 AM to 5 PM</p> 
                                                       
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="ft-box-holder">
                                <h3>Flicker Widget</h3>
                                <ul class="cp_flicker-list">
                                    <li><a href="#"><img src="../../assets/images/flickr/flickr-img-01.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="../../assets/images/flickr/flickr-img-02.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="../../assets/images/flickr/flickr-img-03.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="../../assets/images/flickr/flickr-img-04.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="../../assets/images/flickr/flickr-img-05.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="../../assets/images/flickr/flickr-img-06.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="../../assets/images/flickr/flickr-img-07.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="../../assets/images/flickr/flickr-img-08.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="../../assets/images/flickr/flickr-img-09.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="../../assets/images/flickr/flickr-img-10.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="../../assets/images/flickr/flickr-img-11.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="../../assets/images/flickr/flickr-img-12.jpg" alt=""></a></li>
                                </ul>                             
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!---Footer Section2 End-->
            <!---Footer Section3 Start-->
            <section class="cp_footer-section3">
                <div class="container">
                    <div class="footer-logo">
                        <a href="#"><img src="images/logo3.png" alt=""></a>
                    </div>
                    <strong>© 2018 - Pretty Z Threading. All Rights Reserved</strong>
                    <div class="cp_back-top-holder">
                         <span id="cp_back-top">
                            <a href=""><i class="fa fa-angle-up"></i></a>
                        </span>
                    </div>
                </div>
            </section>
            <!---Footer Section3 End-->
        </footer>
        <!---Footer End-->