<!---Inner Banner Start-->
        <div class="cp_inner-banner">
            <div class="cp-inner-image">
                <img src="images/inner-pricing-table-img.jpg" alt="">
            </div>
            <div class="cp_breadcrumb-holder">
                <div class="container">
                    <h1>Prices</h1>
                    <ul class="breadcrumb">
                      <li><a href="index.html">Home</a></li>
                      <li class="active">Prices</li>
                    </ul>
                </div>
            </div>
        </div>
        <!---Inner Banner End-->

        <!---Main Content Start-->
        <div class="cp_main">
            <!---Pricing Section Start-->
            <section class="cp_pricing-section cp_pricing-section2 pd-tb80">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm">
                            <!---Pricing Item Start-->
                            <div class="pricing-item">
                                <div class="cp-thumb">
                                    <img alt="" src="images/pricing/price-img-01.jpg">
                                </div>
                                <div class="pricing-text">
                                    <span class="price">Starting from $4.99</span>
                                    <a class="btn-hair-service" href="#">Threading Services</a>
                                    <ul class="price-list">
                                        <li> Eyebrow</li>
                                        <li> UpperLip</li>
                                        <li> Full Face Threading</li>
                                        <li>Lower chin Threading</li>
                                        <li> Neck Threading</li>
                                      
                                        <li> <a class="cp-btn-style2" href="#">Call Now</a></li>
                                    </ul>
                                </div>
                            </div><!---Pricing Item End-->
                        </div>
                        <div class="col-md-4 col-sm">
                            <!---Pricing Item Start-->
                            <div class="pricing-item">
                                <div class="cp-thumb">
                                    <img alt="" src="images/pricing/price-img-02.jpg">
                                </div>
                                <div class="pricing-text">
                                    <span class="price">Starting from $4.99</span>
                                    <a class="btn-hair-service" href="#">Waxing Services</a>
                                    <ul class="price-list">
                                        <li> Full Hands</li>
                                        <li> Under Arms</li>
                                        <li> Half Back</li>
                                        <li> Full Back</li>
                                        <li> Half Leg</li>
                                        <li> Half Bikini</li>
                                        <li> Full Body</li>
                                        <li> <a class="cp-btn-style2" href="#">Call Now</a></li>
                                    </ul>
                                </div>
                            </div><!---Pricing Item End-->                      
                        </div>
                        <div class="col-md-4 col-sm">
                            <!---Pricing Item Start-->
                            <div class="pricing-item">
                                <div class="cp-thumb">
                                    <img alt="" src="images/pricing/price-img-03.jpg">
                                </div>
                                <div class="pricing-text">
                                    <span class="price">Starting From $19.99</span>
                                    <a class="btn-hair-service" href="#">Facial Services</a>
                                    <ul class="price-list">
                                        <li> Mini</li>
                                        <li> Herbal</li>
                                        <li> Gold</li>
                                        <li> Silver</li>
                                        <li> Pearl</li>
                                        <li> Fruit</li>
                                        <li> Diamond</li>
                                        <li> <a class="cp-btn-style2" href="#">Call Now</a></li>
                                    </ul>
                                </div>
                            </div><!---Pricing Item End-->                      
                        </div>
                        
                    </div>
                </div>
            </section>
            <!---Team Section End-->
        </div>
        <!---Main Content End-->
   