         <!---Inner Banner Start-->
        <div class="cp_inner-banner">
            <div class="cp-inner-image">
                <img src="images/inner-services-img.jpg" alt="">
            </div>
            <div class="cp_breadcrumb-holder">
                <div class="container">
                    <h1>Services</h1>
                    <ul class="breadcrumb">
                      <li><a href="index.html">Home</a></li>
                      <li class="active">Services</li>
                    </ul>
                </div>
            </div>
        </div>
        <!---Inner Banner End-->

        <!---Main Content Start-->
        <div class="cp_main">
            <!---Our Services Section Start-->
            <section class="cp_our-services-section cp_our-services-section2 pd-tb80">
                <div class="container">
                    <div class="cp-heding-style1">
                        <h2>Our Promotions</h2>
                    </div>
                     <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <!---Services Item Start-->
                            <div class="services-item">
                                <img src="images/services/services-item-img-01.jpg" alt="">
                                <div class="services-caption">
                                    <h3>Eye Brow</h3>
                                    <span class="cp_linebar-style"></span>
                                    <span class="icon-scissors30 icomoon"></span>
                                    <a href="services.html" class="read-more cp-btn-style2">Read More</a>
                                </div>                               
                            </div><!---Services Item End-->
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <!---Services Item Start-->
                            <div class="services-item">
                                <img src="images/services/services-item-img-02.jpg" alt="">
                                <div class="services-caption">
                                    <h3>Facial Services</h3>
                                     <span class="cp_linebar-style"></span>
                                    <span class="icon-chair8 icomoon"></span>
                                    <a href="services.html" class="read-more cp-btn-style2">Read More</a>
                                </div>                               
                            </div><!---Services Item End-->
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <!---Services Item Start-->
                            <div class="services-item">
                                <img src="images/services/services-item-img-03.jpg" alt="">
                                <div class="services-caption">
                                    <h3>Make UP</h3>
                                    <span class="cp_linebar-style"></span>
                                    <span class="icon-cup29 icomoon"></span>
                                    <a href="services.html" class="read-more cp-btn-style2">Read More</a>
                                </div>                               
                            </div><!---Services Item End-->
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <!---Services Item Start-->
                            <div class="services-item">
                                <img src="images/services/services-item-img-01.jpg" alt="">
                                <div class="services-caption">
                                    <h3>Waxing</h3>
                                    <span class="cp_linebar-style"></span>
                                    <span class="icon-finger3 icomoon"></span>
                                    <a href="services.html" class="read-more cp-btn-style2">Read More</a>
                                </div>                               
                            </div><!---Services Item End-->
                        </div>
                    </div>
                </div>
            </section>
            <!---Our Services Section End-->
            <!---Our Section Start-->
            <section class="cp_our-section cp_our-section2 pd-tb80">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="cp_box-holder">
                                <h2>How Do We Charge</h2>
                                <!---Our Accordian Start-->
                                <div class="cp_accodian-box">
                                    <!--ACORDIAN DATE START-->
                                    <div class="cp_accordian-section" id="section1">
                                         <p>Threading</p><span><i class="fa fa-minus"></i></span>
                                    </div>
                                    <div class="container_cp_accor">                                      
                                        <ul class="cp-rates-list">
                                            <li>Eyebrow Threading	..................................................................................................................
                                                <span>$5</span>
                                            </li>
                                            <li>Upper Lip ...........................................................................................
                                                <span>$3</span>
                                            </li>
                                            <li>Chin ....................................................................................................
                                                <span>$3</span>
                                            </li>
                                            <li>Fore Head ...............................................................................................................................
                                                <span>$3</span>
                                            </li>
                                            <li>Full Face ..................................................................................................
                                                <span>$15</span>
                                            </li>
                                            
                                        </ul>                                     
                                    </div>
                                    <!--ACORDIAN DATE END-->
                                    <!--ACORDIAN DATE START-->
                                    <div class="cp_accordian-section" id="section2">
                                        <p>Waxing Services </p><span><i class="fa fa-minus"></i></span>
                                    </div>
                                    <div class="container_cp_accor">                                    
                                       <ul class="cp-rates-list">
                                            <li>Full Hands .........................................................................................................................
                                                <span>$14</span>
                                            </li>
                                            <li>Under Arms ....................................................................................................
                                                <span>$5</span>
                                            </li>
                                            <li>Half Back ...............................................................................................................................
                                                <span>$8</span>
                                            </li>
                                            <li>Full Back ..................................................................................................
                                                <span>$12</span>
                                            </li>
                                        </ul>                                              
                                    </div>
                                    <!--ACORDIAN DATE END-->
                                    <!--ACORDIAN DATE START-->
                                    <div class="cp_accordian-section" id="section3">
                                         <p>Facials Services</p><span><i class="fa fa-minus"></i></span>
                                    </div>
                                  <div class="container_cp_accor">                                      
                                        <ul class="cp-rates-list">
                                            <li>Mini 	..................................................................................................................
                                                <span>$20</span>
                                            </li>
                                            <li>Herbal ...........................................................................................
                                                <span>$30</span>
                                            </li>
                                            <li>Gold ....................................................................................................
                                                <span>$40</span>
                                            </li>
                                            <li>Silver ...............................................................................................................................
                                                <span>$40</span>
                                            </li>
                                            <li>Pearl ..................................................................................................
                                                <span>$45</span>
                                            </li>
                                             <li>Fruit ..................................................................................................
                                                <span>$30</span>
                                            </li>
                                             <li>Diamond ..................................................................................................
                                                <span>$50</span>
                                            </li>
                                            
                                        </ul>                                     
                                    </div>
                                    <div class="clearfix"></div>
                                    <!--ACORDIAN DATE END-->
                                     <!--ACORDIAN DATE START-->
                                  
                                    <!--ACORDIAN DATE END-->
                                </div><!---Our Accordian End-->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!---Our Section End-->
            
         
            <!---Pricing Section End-->
        </div>
        <!---Main Content End-->