 <!---Main Content Start-->
        <div class="cp_main">    

            <!---About Section Start-->
            <section class="cp_about-section pd-tb80">
                <div class="container">
                    <div class="cp-heding-style1">
                        <h2>Pretty Z Threading</h2>
                    </div>
                    <div id="cp_about-slider" class="owl-carousel">
                        <div class="item">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="cp-thumb">
                                        <img src="../assets/images/about/about-img-01.jpg" width="555" height="338" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="about-text">
                                        <h3>We create beautiful memories</h3>
                                        <p>
                                       Let us design a facial package for your next event. Create beautiful memories for your bridal parties, birthdays or any special occasion.</p>
                                        <div class="bottom-holder">
                                            <div class="inner">
                                             <p>
                                       With our special facials package, you will regain your confidence.
                                       </p>
                                        
                                                <em>You will love the confidence that our service gives you.<span>-Prettyz Threading</span></em>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                         <div class="item">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="cp-thumb">
                                        <img src="../../assets/images/about/about-img-02.jpg" alt="" width="555" height="338">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="about-text">
                                        <h3>We create beautiful memories</h3>
                                        
                                        <p>
                                       We are the place to go if you need to get Brazilian, bikini, eyebrows or any other waxing for the first time or for the hundredth time. Our excellent team member has a way of making you feel comfortable and at ease during any of the services and is also in tune to adjusting technique and material based on personal sensitivities.
                                              </p>
                                        <div class="bottom-holder">
                                            <div class="inner">
                                                  <p>What you will learn about us is how passionate we are about our business and our methods of waxing, which are more complicated than you'd realize.</p>
                                                <em>You will love the confidence that our service gives you.<span>-Prettyz Threading</span></em>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                              <div class="item">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="cp-thumb">
                                        <img src="../../assets/images/about/about-img-03.jpg" alt="" width="555" height="338">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="about-text">
                                        <h3>We create beautiful memories</h3>
                                        <p>
                                        We are the best!  Not only we are friendly and great at what we do (impeccable attention to detail), but our place is super clean, and our services are always very prompt.
                                         
                                        </p>
                                        <div class="bottom-holder">
                                            <div class="inner">
                                                  <p>
                                                  We are on top of sending a reminder or confirmation of appointments if you book in advance. We will send a frindly reminder to inform you that your service is due so you can focus on your daily activities with ease.
                                                  </p>
                                                <em>You will love the confidence that our service gives you.<span>-Prettyz Threading</span></em>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!---About Section End-->
            <!---Promotion Section Start-->
            <section class="cp_promotion-section pd-b80">
                <div class="container">
                    <div class="cp-heding-style1">
                        <h2>Our Promotions</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <!---Promotion Item Start-->
                            <div class="promotion-item">
                                <div class="text">
                                    <h3><a href="product-detail.html">Only Until December </a></h3>
                                    <p>Get 20 percent discounts of all types of facial services. Coupon code FacialDiscount. Simply say this to clerk.</p>
                                    <span class="item-discount"><b>20%</b>Discount</span>
                                </div>
                                <div class="thumb">
                                    <img src="../../assets/images/facials-01.jpg" width="226" height="188" alt="">
                                </div>
                            </div><!---Promotion Item End-->
                        </div>
                        <div class="col-md-6">
                            <!---Promotion Item Start-->
                            <div class="promotion-item">
                                <div class="text">
                                    <h3><a href="product-detail.html">Only Until December </a></h3>
                                    <p>Get 20 percent discounts of all types of threading services. Coupon code ThreadingDiscount. Simply say this to clerk.</p>
                                    <span class="item-discount"><b>20%</b>Discount</span>
                                </div>
                                <div class="thumb">
                                    <img src="../../assets/images/pormotion-01.jpeg"  width="226" height="188" alt="">
                                </div>
                            </div><!---Promotion Item End-->
                        </div>
                    </div>
                </div>
            </section>
            <!---Promotion Section End-->
            <!---Rates Section Start-->
            <section class="cp_rates-section pd-b80">
                <div class="container">
                    <div class="rates-holder">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="text-holder left">
                                    <div class="info-hold">
                                        <h4>Eyebrow Threading</h4>
                                        <span><b>$5</b> only</span>
                                    </div>
                                    <div class="info-hold">
                                        <h4>Facials</h4>
                                        <span>Strarting From <b> $35</b></span>
                                    </div>

                                    
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="text-holder right">
                                    <div class="info-hold">
                                        <h4>Waxing</h4>
                                        <span>Starting From<b> $7</b></span>
                                    </div>
                                    <div class="info-hold">
                                        <h4>Make Up</h4>
                                        <span>Starting From <b>$75</b></span>
                                    </div>

                                 
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="bottom">
                        <p>In order to appear flawless and super beautiful, we understand the time and effort you would have to spend on yourself. We will help you on that and will guarantee that you will be your best with our services. </p>
                        <a [routerLink]="['/services']" class="cp-btn-style1">More Services</a>
                       
                    </div>
                </div>
            </section>
            <!---Rates Section End-->
            
            <!---Our Services Section Start-->
            <section class="cp_our-services-section pd-t80">
                <div class="container">
                    <div class="cp-heding-style2">
                        <h2>Our Services</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <!---Services Item Start-->
                            <div class="services-item">
                                <img src="../../assets/images/services/services-item-img-01.jpg" alt="" width="240" height="270">
                                <div class="services-caption">
                                    <h3>Eyebrow Threading</h3>
                                    <span class="cp_linebar-style"></span>
                                    <a [routerLink]="['/services']" class="read-more cp-btn-style2">Read More</a>
                                    
                                    
                                </div>                               
                            </div><!---Services Item End-->
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <!---Services Item Start-->
                            <div class="services-item">
                                <img src="../../assets/images/services/services-item-img-02.jpeg" alt="" width="240" height="270">
                                <div class="services-caption">
                                    <h3>Facial Services</h3>
                                     <span class="cp_linebar-style"></span>
                                    
                                    <a [routerLink]="['/services']" class="read-more cp-btn-style2">Read More</a>
                                </div>                               
                            </div><!---Services Item End-->
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <!---Services Item Start-->
                            <div class="services-item">
                                <img src="../../assets/images/services/services-item-img-03.jpeg" alt="" width="240" height="270">
                                <div class="services-caption">
                                    <h3>Make UP</h3>
                                    <span class="cp_linebar-style"></span>
                                    <span class="icon-cup29 icomoon"></span>
                                    <a [routerLink]="['/services']" class="read-more cp-btn-style2">Read More</a>
                                </div>                               
                            </div><!---Services Item End-->
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <!---Services Item Start-->
                            <div class="services-item">
                                <img src="../../assets/images/services/services-item-img-04.jpg" alt="" width="240" height="270">
                                <div class="services-caption">
                                    <h3>Waxing</h3>
                                    <span class="cp_linebar-style"></span>
                                    <span class="icon-finger3 icomoon"></span>
                                    <a [routerLink]="['/services']" class="read-more cp-btn-style2">Read More</a>
                                </div>                               
                            </div><!---Services Item End-->
                        </div>
                    </div>
                </div>
            </section>
            <!---Our Services Section End-->


            
            <!---Our Parallax Section Start-->
            <section class="cp_our-parallax-section pd-tb80">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="left-holder">
                                <h3>The Ultimate Guide to</h3>
                                <strong>Face Makeup Brushes</strong>
                                <a href="#" class="buy-now cp-btn-style1">Buy Now</a>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="right-holder">
                                <ul>
                                    <li>Tapered Foundation Brush</li>
                                    <li>Rounded Foundation Brush</li>
                                    <li>Flat Concealer Brush</li>
                                    <li>Precision Concealer Brush</li>
                                    <li>Powder Brush</li>
                                    <li>Angled Brush</li>
                                    <li>Stippling Brush</li>
                                    <li>Fan Brush</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!---Our Parallax Section End-->
          
        </div>
        <!---Main Content End-->
        
   

    
           